
/* ********************** MAIN ********************** */
* {
	margin: 0;
	padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
    
    
}
.main {
	position: relative;
    background-color: rgb(19, 18, 18);
    height: 90%;
    width: 90%;
    background-image: url();
    display: flex;
	align-items: center;
    justify-content: center;
    
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 17px;
}
h4 {
    font-size: 13px;
}
.musicContainer {
    display: flex;
	align-items: center;
    justify-content: center;
    width: 900px;
    height: 500px;
    background-color: rgb(238, 102, 4);
    border-radius: 15px;
    box-shadow: 0 3px 19px 1px; color: rgb(70, 68, 62);
    text-align: center;
}
.left-section, .right-seciton {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
/* ********************** FUNTION ********************** */
input[type="range"] {
	-webkit-appearance: none;
	width: 70%;
	outline: none;
    height: 4px;
    border-radius: 10px;
    
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
	height: 15px;
    border-radius: 50%;
    background: #4b4a4a;
}

/* ********************** LEFT SECTION ********************** */
.logo {
    position: absolute;
	top: 30px;
	left: 30px;
    font-size: 60px;
    color: blanchedalmond;
}

.left-section img {
	height: 250px;
	width: 350px;
	border-radius: 15px;
	box-shadow: 10px 13px 0px 4px; color: rgb(248, 231, 182);
}

.left-section .volume {
    padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.volume i {
    color: rgb(70, 68, 62);
	cursor: pointer;
    padding: 10px 10px;
    font-size: 20px;
}
.volume i:hover {
    color: blanchedalmond;
}
.volumeControl {
	margin-right: 10px;
    background: rgba(248, 231, 182,0.1);
    padding: 8px 8px;
}

/* ********************** RIGHT SECTION ********************** */
.right-section {
    margin:0 50px;
}
.mainPlayButton {
   display: flex;
   align-items: center;
   justify-content: center;
}
.mainPlayButton i {
    font-size: 15px;
    color: white;
}

#songName {
    padding-bottom: 20px;
	color: #fff;
	font-size: 35px;
}
#singerName{
    padding-bottom: 20px;
	color: #fff;
	font-size: 20px;
}

.mainPlayButton button {
    margin: 35px 10px;
    cursor: pointer;
	border: none;
	height: 50px;
	width: 50px;
	border-radius: 50%;	
	outline: none;
	transition: 0.3s;
	background: rgba(248, 231, 182,0.1);
}
.mainPlayButton button:hover {
    background: #4b4a4a;
}
.duration {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recording {
  
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 45px;
	border: 1px;
    color: white;
  
}

.recording > a {
    margin: 12px 12px;
    padding: 12px 12px;
    border-color: white;
    background: rgba(248, 231, 182,0.1);
    cursor: pointer;
}
.recording a:hover {
    background: #4b4a4a;
}